<h3>Points of your assignment '{$assignment}' were updated</h3>
<p>
    The supervisors in your group '{$group}' updated your points in assignment '{$assignment}'.
    The assignment gained {$points} out of {$maxPoints}{if $hasBonusPoints} and
    {$bonusPoints} bonus points{/if}.
    Assignment can be found on: <a href="{$link}">{$link}</a>.
</p>
