<h3>Vaše stínová úloha '{$assignment}' byla ohodnocena</h3>
<p>
    Cvičící ve Vaší skupině '{$group}' ohodnotil Vaši stínovou úlohu '{$assignment}'.
    Úloha získala {$points} bodů z {$maxPoints}.
    Úlohu je možné najít na adrese: <a href="{$link}">{$link}</a>.
</p>
