<h3>Změna hodnocení stínové úlohy '{$assignment}'</h3>
<p>
    Počet bodů přidělených za stínovou úlohu '{$assignment}' ve skupině '{$group}'
    byl změněn. Nyní máte {$points} bodů{if $maxPoints} z {$maxPoints}{/if}.
    Stínovou úlohu je možné najít na adrese: <a href="{$link}">{$link}</a>.
</p>
