<h3>Points of your shadow assignment '{$assignment}' were updated</h3>
<p>
    The supervisors in your group '{$group}' updated your points in shadow assignment '{$assignment}'.
    The assignment gained {$points} out of {$maxPoints}.
    Assignment can be found on: <a href="{$link}">{$link}</a>.
</p>
