<h3>Vaše úloha '{$assignment}' byla ohodnocena</h3>
<p>
    Cvičící ve Vaší skupině '{$group}' ohodnotil Vaši úlohu '{$assignment}'.
    Úloha získala {$points} bodů z {$maxPoints}{if $hasBonusPoints} a k tomu
    {$bonusPoints} bonusových bodů{/if}.
    Úlohu je možné najít na adrese: <a href="{$link}">{$link}</a>.
</p>
