<h3>Změna hodnocení úlohy '{$assignment}'</h3>
<p>
    Vaše bodové hodnocení úlohy '{$assignment}' ve skupině '{$group}' bylo změněno.
    Nyní máte {$points} bodů z {$maxPoints}{if $hasBonusPoints} a k tomu
    {$bonusPoints} bonusových bodů{/if}.
    Úlohu je možné najít na adrese: <a href="{$link}">{$link}</a>.
</p>
