<h3>Updated points of assignment '{$assignment}'</h3>
<p>
    The amount of points awarded for the assignment '{$assignment}'
    in the group '{$group}' has been modified.
    At present, you have {$points} out of {$maxPoints}{if $hasBonusPoints} and
    {$bonusPoints} bonus points{/if}.
    The assignment can be found at: <a href="{$link}">{$link}</a>.
</p>
