{if $firstTime}
<h3>Welcome to ReCodEx</h3>
<p>
  Your account associated with {$email} address was successfully created.
</p>
{else}
<h3>Verification of email address {$email}</h3>
{/if}
<p>
    ReCodEx would like to verify your email address.
    Email verification is necessary to ensure correct functionality of all ReCodEx services.
    You may confirm the validity of your email by following this link: <a href="{$link}">{$link}</a>.
    The link will be active until {$expiresAfter}.
    A new link can be sent to you if you request the email validation in ReCodEx again.
</p>
<hr>
<p>
    All your data, including the email address, are stored in compliance with GDPR.
</p>
