<h3>Uživatel s adresou {$email} si vyžádal její ověření</h3>
<p>
    Svůj email můžete oveřit kliknutím na následující odkaz: <a href="{$link}">{$link}</a>.
    Tento odkaz bude aktivní do {$expiresAfter}. Po této lhůtě bude odkaz nevalidní a budete si muset vyžádat nový.
</p>
<hr>
<p>
    Pokud jste nezažádali o ověření emailu v ReCodExu, ignorujte prosím tento email.
</p>