log/*
temp/*
vendor/*
!.gitignore
!.htaccess
!web.config
app/config/config.local.neon
.idea
uploaded_data/*
/nbproject/private/
/nbproject
output/
test.ini
docs/*
phpDocumentor.phar
.vscode
/job_config
coverage.xml
coverage.html
/fixtures/generated/*
/run_server.bat
/*.bat
