parameters:
  accessManager:
    verificationKey: "recodex-1234567890-1234567890-1234567890"

nettrine.dbal:
  connections:
    default:
      driver: pdo_sqlite
      url: "sqlite:///:memory:"

services:
    cacheStorage:
        factory: Nette\Caching\Storages\MemoryStorage
