<h3>Nový komentář u úlohy '{$assignment}' odevzdané uživatelem '{$solutionAuthor}'</h3>
<p style="word-wrap: break-word; white-space: pre-line; width: 580px;">
    Nový komentář byl přidán u studentského řešení úlohy '{$assignment}', která
    byla odevzdaná uživatelem '{$solutionAuthor}'.
    Komentář byl přidán uživatelem '{$author}' {$date|date:'j.n.Y H:i'} s
    následujícím textem:<br>
    "{$comment}"<br>
    Komentář je možné najít na adrese: <a href="{$link}">{$link}</a>.
</p>
