<h3>Nový komentář u úlohy '{$exercise}' odevzdané uživatelem '{$solutionAuthor}'</h3>
<p>
    Nový komentář byl přidán u referenčního řešení úlohy '{$exercise}', která
    byla odevzdaná uživatelem '{$solutionAuthor}'.
    Komentář byl přidán uživatelem '{$author}' {$date|date:'j.n.Y H:i'} s
    následujícím textem:<br>
    "{$comment}"
</p>
