<h3>Nový komentář u úlohy '{$exercise}' odevzdané uživatelem '{$solutionAuthor}'</h3>
<p style="word-wrap: break-word; white-space: pre-line; width: 580px;">
    Nový komentář byl přidán u referenčního řešení úlohy '{$exercise}', která
    byla odevzdaná uživatelem '{$solutionAuthor}'.
    Komentář byl přidán uživatelem '{$author}' {$date|localizedDate:'cs'} s
    následujícím textem:<br>
    "{$comment}"<br>
    Komentář je možné najít na adrese: <a href="{$link}">{$link}</a>.
</p>
