{emailSubject}Uživatel {$host} vás zve do ReCodExu!{/emailSubject}
<h3>Pozvánka do ReCodExu</h3>
<p>
    Byla vám vystavena pozvánka do ReCodExu na jméno {$username} s jejíž pomocí se můžete zaregistrovat: <a href="{$link}">{$link}</a>
</p>

<p>
    Pozvánku vám vystavil <a href="mailto:{$hostmail}">{$host}</a> a její platnost vyprší {$expireAt}.
</p>
