{emailSubject}User {$host} has invited you in ReCodEx!{/emailSubject}
<h3>ReCodEx Invitation</h3>
<p>
    You have been given an invitation to ReCodEx issued at name {$username}. The following link will allow you to proceed with registration: <a href="{$link}">{$link}</a>
</p>

<p>
    The invitation was created by <a href="mailto:{$hostmail}">{$host}</a> and it will expire at {$expireAt}.
</p>
