parameters:
  api:
    address: https://recodex.projekty.ms.mff.cuni.cz:4000

  accessManager:
    issuer: https://recodex.projekty.ms.mff.cuni.cz
    audience: https://recodex.projekty.ms.mff.cuni.cz
    expiration: 86400  # 24 hours in seconds
    verificationKey: "recodex-123"

  fileServer:
    address: http://127.0.0.1:9999
    auth:
      username: "user"
      password: "pass"

  broker:
    address: tcp://127.0.0.1:9658
    auth:
      username: "user"
      password: "pass"

  monitor:
    address: wss://recodex.projekty.ms.mff.cuni.cz:443/ws

  CAS:
    options:
      ldap:
        hostname: "ldap.cuni.cz"
      oauth:
        baseUri: "https://idp.cuni.cz/cas/"

  sis:
    apiBase: https://sis.university.tld/is/
    faculty: FACULTY
    secret: SECRET_TOKEN

  emails:
    apiUrl: https://recodex.projekty.ms.mff.cuni.cz:4000
    footerUrl: https://recodex.projekty.ms.mff.cuni.cz
    from: "ReCodEx <noreply@example.com>"

  failures:
    emails:
      to: "Administrator <admin@example.com>"

  forgottenPassword:
    redirectUrl: "https://recodex.projekty.ms.mff.cuni.cz/en/forgotten-password/change"

  emailVerification:
    redirectUrl: "https://recodex.projekty.ms.mff.cuni.cz/en/email-verification"

  mail:
    host: "smtp.ps.stdin.cz"
    clientHost: recodex.projekty.ms.mff.cuni.cz
    port: 587
    username: "user"
    password: "pass"
    secure: "tls"
    context:
      ssl:
        verify_peer: false
        verify_peer_name: false
        allow_self_signed: true


doctrine:
  host: localhost
  user: recodex-api
  password: recodex
  dbname: recodex-api
