#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:
  uploadDir: %appDir%/../uploaded_data

  accessManager:
    leeway: 60
    issuer: https://recodex.projekty.ms.mff.cuni.cz
    audience: https://recodex.projekty.ms.mff.cuni.cz
    expiration: 86400
    algorithm: HS256
    verificationKey: "recodex-123"

  fileServer:
    address: http://195.113.17.8:9999
    username: "re"
    password: "codex"
    jobConfigFileName: "job-config.yml"

  broker:
    address: tcp://195.113.17.8:9658
    auth:
      username: "re"
      password: "codex"

  monitor:
    address: wss://recodex.projekty.ms.mff.cuni.cz:443/ws/

  CAS:
    serviceId: "cas-uk"
    ldapConnection:
      hostname: "ldap.cuni.cz"
      base_dn: "ou=people,dc=cuni,dc=cz"
      #port: 389
      #security: SSL
      bindName: "cunipersonalid"
    fields:
      email: "mail"
      firstName: "givenName"
      lastName: "sn"

  emails:
    url: http://recodex.projekty.ms.mff.cuni.cz
    siteName: "ReCodEx"
    githubUrl: http://recodex.github.io
  
  failures:
    emails:
      to: "Šimon Rozsíval <simon@rozsival.com>"
      from: "ReCodEx <noreply@recodex.org>"
      subjectPrefix: "ReCodEx Failure Report - "

application:
  errorPresenter: V1:ApiError
  mapping:
    *: App\*Module\Presenters\*Presenter

mail:
  smtp: false

session:
  useCookies: 0

extensions:
  console: Kdyby\Console\DI\ConsoleExtension
  events: Kdyby\Events\DI\EventsExtension
  annotations: Kdyby\Annotations\DI\AnnotationsExtension
  doctrine: Kdyby\Doctrine\DI\OrmExtension

services:
  router: App\RouterFactory::createRouter
  - App\Security\AccessManager(%accessManager%)
  - App\Security\Authorizator

  # external login services
  - App\Helpers\ExternalLogin\CAS(%CAS.serviceId%, %CAS.ldapConnection%, %CAS.fields%)

  # helpers
  - App\Helpers\EmailHelper(@Nette\Mail\IMailer, %emails%)
  - App\Helpers\FailureHelper(@App\Helpers\EmailHelper, %failures%)
  - App\Helpers\BrokerProxy(%broker%)
  - App\Helpers\FileServerProxy(%fileServer%)
  - App\Helpers\SubmissionHelper
  - App\Helpers\UploadedFileStorage(%uploadDir%)
  - App\Helpers\EvaluationLoader

  # models - repositories
  - App\Model\Repository\Comments
  - App\Model\Repository\Exercises
  - App\Model\Repository\ExerciseAssignments
  - App\Model\Repository\ExternalLogins
  - App\Model\Repository\Groups
  - App\Model\Repository\Instances
  - App\Model\Repository\Licences
  - App\Model\Repository\Logins
  - App\Model\Repository\Permissions
  - App\Model\Repository\Resources
  - App\Model\Repository\Roles
  - App\Model\Repository\Submissions
  - App\Model\Repository\SubmissionEvaluations
  - App\Model\Repository\UploadedFiles
  - App\Model\Repository\Users

doctrine:
  user: 'root'
  password: ''
  dbname: 'recodex-api'
  metadata:
    App: %appDir%

annotations:
  ignore:
    - LoggedIn
    - Role
    - UserIsAllowed
    - POST
    - GET
    - PUT
    - DELETE
