#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:
  uploadDir: %appDir%/../uploaded_data

  accessManager:
    leeway: 60
    issuer: https://recodex.projekty.ms.mff.cuni.cz
    audience: https://recodex.projekty.ms.mff.cuni.cz
    expiration: 86400
    algorithm: HS256

  fileServer:
    address: http://195.113.17.8:9999
    username: ""
    password: ""
    jobConfigFileName: "job-config.yml"

  broker:
    address: tcp://195.113.17.8:9658
    expectedResponse: "accept"


application:
  errorPresenter: V1:ApiError
  mapping:
    *: App\*Module\Presenters\*Presenter


session:
  expiration: 14 days

extensions:
  console: Kdyby\Console\DI\ConsoleExtension
  events: Kdyby\Events\DI\EventsExtension
  annotations: Kdyby\Annotations\DI\AnnotationsExtension
  doctrine: Kdyby\Doctrine\DI\OrmExtension
  migrations: Zenify\DoctrineMigrations\DI\MigrationsExtension
  - Symnedi\EventDispatcher\DI\EventDispatcherExtension

services:
  router: App\RouterFactory::createRouter
  - App\Security\AccessManager(%accessManager%)
  - App\Security\Authorizator

  # helpers
  - App\Model\Helpers\BrokerProxy(%broker%)
  - App\Model\Helpers\FileServerProxy(%fileServer%)
  - App\Model\Helpers\SubmissionHelper
  - App\Model\Helpers\UploadedFileStorage(%uploadDir%)

  # models - repositories
  - App\Model\Repository\Comments()
  - App\Model\Repository\Exercises()
  - App\Model\Repository\ExerciseAssignments()
  - App\Model\Repository\Groups()
  - App\Model\Repository\Instances()
  - App\Model\Repository\Logins()
  - App\Model\Repository\Permissions()
  - App\Model\Repository\Resources()
  - App\Model\Repository\Roles()
  - App\Model\Repository\Submissions()
  - App\Model\Repository\SubmissionEvaluations()
  - App\Model\Repository\UploadedFiles()
  - App\Model\Repository\Users()

doctrine:
  user: 'root'
  password: ''
  dbname: 'recodex-api'
  metadata:
    App: %appDir%

annotations:
  ignore:
    - LoggedIn
    - Role
    - UserIsAllowed
    - POST
    - GET
    - PUT
    - DELETE

migrations:
  table: doctrine_migrations
  directory: %appDir%/../migrations
  namespace: Migrations
  codingStandard: spaces

