roles:
    - name: unauthenticated

    - name: student
      parents: unauthenticated

    - name: supervisor
      parents: student

    - name: superadmin
permissions:
    - allow: true
      role: superadmin

    - allow: true
      role: scope-master

    #############################
    # User takeover permissions #
    #############################

    - allow: true
      role: superadmin
      resource: user
      actions:
        - takeOver

    - allow: false  # A safety mechanism that prevents us from accidentaly allowing account takeover to non-admins (e.g. by wildcard rules)
      actions:
        - takeOver

    #####################
    # Group permissions #
    #####################

    - allow: true
      role: scope-read-all
      resource: group
      actions:
          - viewAssignments
          - viewExercises
          - viewStudents
          - viewPublicDetail
          - viewDetail
          - viewSubgroups
          - viewSupervisors
          - viewStudents
          - viewAdmin
          - viewStudentStats
          - viewStats

    - allow: true
      role: student
      resource: group
      actions: viewAssignments
      conditions: group.isMember

    - allow: true
      role: student
      resource: group
      actions:
          - viewStudents
          - viewDetail
          - viewSubgroups
          - viewSupervisors
          - viewStudents
          - viewAdmin
      conditions:
          - group.canAccessDetail
          - group.isInSameInstance

    - allow: true
      role: student
      resource: group
      actions: viewPublicDetail
      conditions: group.isInSameInstance

    - allow: true
      resource: group
      actions:
          - setAdmin
      conditions: group.isAdmin

    - allow: true # A student can join public groups
      role: student
      resource: group
      actions:
        - addStudent
      conditions:
        - group.isPublic
        - group.isInSameInstance
        - student.isSameUser

    - allow: true
      role: student
      resource: group
      actions:
        - removeStudent # A student can leave any group
        - viewStudentStats
      conditions:
        - group.isMember
        - student.isSameUser

    - allow: true
      role: student
      resource: group
      actions: viewStats
      conditions: group.areStatsPublic

    - allow: true
      resource: group
      actions:
          - addStudent
          - removeStudent
          - viewExercises
          - viewStats
          - viewStudentStats
          - viewPublicDetail
      conditions: group.isSupervisor

    - allow: true
      resource: group
      actions:
          - update
          - remove
          - addSubgroup
          - removeSupervisor
      conditions: group.isAdmin

    - allow: true
      resource: group
      actions:
          - addSupervisor
      conditions:
          - group.isAdmin

    - allow: true
      resource: group
      role: supervisor
      actions:
          - supervise

    ########################
    # Instance permissions #
    ########################

    - allow: true
      role: scope-read-all
      resource: instance
      actions:
        - viewAll
        - viewDetail
        - viewGroups
        - viewUsers
        - viewLicences

    - allow: true
      role: unauthenticated
      resource: instance
      actions:
        - viewAll
        - viewDetail

    - allow: true
      role: supervisor
      resource: instance
      actions: addGroup
      conditions: instance.isMember

    - allow: true
      role: student
      resource: instance
      actions:
          - viewGroups

    - allow: true
      role: supervisor
      resource: instance
      actions: []

    - allow: true
      role: superadmin # TODO instance admin role
      resource: instance
      actions:
          - viewUsers
          - viewLicences
      conditions:
          - instance.isMember

    ####################
    # User permissions #
    ####################

    - allow: true
      role: scope-read-all
      resource: user
      actions:
        - viewPublicData
        - viewExercises
        - viewInstances
        - viewGroups
        - viewDetail
        - viewList

    - allow: true
      role: student
      resource: user
      actions:
        - viewList

    - allow: true
      role: student
      resource: user
      actions:
        - viewPublicData
      conditions:
        - user.isInSameInstance

    - allow: true
      role: student
      resource: user
      actions:
          - updateProfile
          - viewExercises
          - viewInstances
          - viewGroups
          - viewDetail
          - createLocalAccount
      conditions: user.isSameUser

    - allow: true
      role: student
      resource: user
      actions:
        - updatePersonalData
      conditions:
        - user.isSameUser
        - user.isNotExternalAccount

    - allow: true
      resource: user
      actions:
        - invalidateTokens
      conditions:
        - user.isSameUser

    ##########################
    # Assignment permissions #
    ##########################

    - allow: true
      role: scope-read-all
      resource: assignment
      actions:
        - viewDetail
        - viewSubmissions
        - viewAssignmentSolutions

    - allow: true
      role: student
      resource: assignment
      actions:
          - viewDetail
          - submit
      conditions:
          - assignment.isAssignee
          - assignment.isPublic

    - allow: true
      resource: assignment
      actions:
          - viewDetail
          - update
          - remove
          - submit
          - viewSubmissions
          - resubmitSubmissions
          - viewAssignmentSolutions
      conditions:
          - assignment.isSupervisor

    - allow: true
      resource: group
      actions:
          - assignExercise
      conditions:
          - exercise.isAuthor
          - group.isSupervisor

    - allow: true
      resource: group
      actions:
          - assignExercise
      conditions:
          - exercise.isSubGroupSupervisor

    - allow: true
      resource: group
      actions:
          - assignExercise
      conditions:
          - exercise.isPublic
          - group.isSupervisor

    - allow: true
      role: student
      resource: assignment
      actions:
          - viewSubmissions
      conditions:
          - student.isSameUser

    ###################################
    # Assignment Solution permissions #
    ###################################

    - allow: true
      role: scope-read-all
      resource: assignmentSolution
      actions:
          - viewDetail
          - viewEvaluation
          - viewEvaluationDetails
          - viewEvaluationValues
          - viewEvaluationJudgeOutput
          - viewResubmissions

    - allow: true
      role: student
      resource: assignmentSolution
      actions:
          - viewDetail
          - viewEvaluation
      conditions:
          - assignmentSolution.isAuthor

    - allow: true
      role: student
      resource: assignmentSolution
      actions:
          - viewEvaluationDetails
      conditions:
          - assignmentSolution.areEvaluationDetailsPublic
          - assignmentSolution.isAuthor

    - allow: true
      resource: assignmentSolution
      actions:
          - viewDetail
          - viewEvaluation
          - viewEvaluationDetails
          - viewEvaluationValues
          - viewEvaluationJudgeOutput
          - viewResubmissions
          - delete
          - setBonusPoints
          - setAccepted
          - downloadResultArchive
      conditions:
          - assignmentSolution.isSupervisor

    #######################
    # Comment permissions #
    #######################

    - allow: true
      role: scope-read-all
      resource: comment
      actions:
          - viewThread

    - allow: true
      role: student
      resource: comment
      actions:
          - alter
          - delete
      conditions:
          or:
              - comment.isAuthor
              - comment.isSupervisorInGroupOfCommentedSolution

    - allow: true # TODO
      role: student
      resource: comment
      actions:
          - createThread
          - viewThread
          - addComment

    ########################
    # Exercise permissions #
    ########################

    - allow: true
      role: scope-read-all
      resource: exercise
      actions:
          - viewAll
          - viewDetail
          - viewLimits
          - viewScoreConfig
          - viewPipelines
          - viewList

    - allow: true
      role: student
      resource: exercise
      actions:
        - viewList

    - allow: true
      resource: exercise
      actions:
          - viewDetail
          - viewLimits
          - viewScoreConfig
          - addReferenceSolution
          - viewPipelines
          - fork
      conditions:
          or:
            - exercise.isAuthor
            - exercise.isSubGroupSupervisor
            - exercise.isSuperGroupAdmin

    - allow: true # Admin of the group of an exercise has most of the rights to the exercise
      resource: exercise
      actions:
          - setLimits
          - setScoreConfig
          - update
          - evaluateReferenceSolution
          - createPipeline
      conditions:
          or:
            - exercise.isSuperGroupAdmin
            - exercise.isAuthor

    - allow: true
      resource: exercise
      actions:
          - attachGroup
      conditions:
          and:
            - or:
              - exercise.isSuperGroupAdmin
              - exercise.isAuthor
            - group.isSupervisor

    - allow: true
      resource: exercise
      actions:
          - detachGroup
      conditions:
          and:
            - or:
              - exercise.isSuperGroupAdmin
              - exercise.isAuthor
            - exercise.hasAtLeastTwoAttachedGroups
            - group.isSupervisor

    - allow: true
      resource: exercise
      actions:
          - remove
          - deleteReferenceSolution
      conditions:
          - exercise.isAuthor

    - allow: true
      resource: exercise
      actions:
          - deleteReferenceSolution
          - evaluateReferenceSolution
      conditions:
          - referenceExerciseSolution.isAuthor

    - allow: true
      role: supervisor
      resource: exercise
      actions:
          - viewDetail
      conditions:
          - exercise.isPublic

    - allow: true
      role: supervisor
      resource: exercise
      actions:
          - viewAll

    - allow: true
      role: supervisor
      resource: group
      actions:
          - createExercise
      conditions:
          - group.isSupervisor

    #############################
    # Uploaded file permissions #
    #############################

    - allow: true
      role: scope-read-all
      resource: uploadedFile
      actions:
          - download
          - viewDetail
          - downloadSupplementaryFile

    - allow: true
      role: student
      resource: uploadedFile
      actions:
          - upload

    - allow: true
      resource: uploadedFile
      actions:
          - download
          - viewDetail
      conditions:
          or:
            - file.isSolutionInSupervisedGroup
            - file.isReferenceSolutionInSupervisedSubGroup
            - file.isPublic
            - file.isOwner
            - file.isRelatedToAssignment

    - allow: true
      role: supervisor
      resource: uploadedFile
      actions:
          - download
          - viewDetail
      conditions:
          - file.isAttachmentFile
          - file.isExerciseOrAssignmentPublic

    - allow: true
      role: supervisor
      resource: uploadedFile
      actions:
          - viewDetail
          - downloadSupplementaryFile
      conditions:
          or:
            - file.isAuthorOfSupplementaryFileExercises
            - file.isSupplementaryInGroupUserSupervises

    #####################################
    # Runtime environments permisssions #
    #####################################

    - allow: true
      role: scope-read-all
      resource: runtimeEnvironment
      actions:
          - viewAll

    - allow: true
      role: student
      resource: runtimeEnvironment
      actions:
          - viewAll

    ##############################
    # Hardware group permissions #
    ##############################

    - allow: true
      role: scope-read-all
      resource: hardwareGroup
      actions:
          - viewAll

    - allow: true
      role: supervisor
      resource: hardwareGroup
      actions:
          - viewAll

    #########################
    # Pipelines permissions #
    #########################

    - allow: true
      role: scope-read-all
      resource: pipeline
      actions:
          - viewDetail
          - viewAll

    - allow: true
      role: supervisor
      resource: pipeline
      actions:
          - viewDetail
          - viewAll

    - allow: true
      role: supervisor
      resource: pipeline
      actions:
          - update
          - remove
          - fork
          - viewDetail
      conditions:
          - pipeline.isAuthor

      ###################
      # Sis permissions #
      ###################

    - allow: true
      role: scope-read-all
      resource: sis
      actions:
        - viewTerms
        - viewCourses

    - allow: true
      role: supervisor
      resource: sis
      actions:
        - createTerm
        - editTerm
        - deleteTerm
        - viewTerms

    - allow: true
      resource: sis
      actions:
        - createGroup
      conditions:
        - course.isSupervisor
        - groupContext.doesTermMatch
        - groupContext.isParentGroupAssociatedWithCourse

    - allow: true
      resource: sis
      actions:
        - viewCourses
      conditions:
        - sisId.isLinkedToUser

    - allow: true
      resource: sis
      actions:
        - bindGroup
      conditions:
        - group.isSupervisor
        - course.isSupervisor

    - allow: true
      resource: group
      actions: addStudent
      conditions:
        - group.isInSameInstance
        - student.isSameUser
        - group.isSisStudent
