roles:
    - name: unauthenticated

    - name: student
      parents: unauthenticated

    - name: supervisor
      parents: student

    - name: superadmin
permissions:
    - allow: true
      role: superadmin

    #####################
    # Group permissions #
    #####################

    - allow: true
      role: student
      resource: group
      actions: viewAssignments
      conditions: group.isMember

    - allow: true
      role: student
      resource: group
      actions:
          - viewStudents
          - viewDetail
          - viewSubgroups
          - viewSupervisors
          - viewStudents
          - viewAdmin
      conditions:
          - group.canAccessDetail
          - group.isInSameInstance

    - allow: true
      resource: group
      actions:
          - setAdmin
      conditions: group.isAdmin

    - allow: true # A student can join public groups
      role: student
      resource: group
      actions:
        - addStudent
      conditions:
        - group.isPublic
        - group.isInSameInstance
        - student.isSameUser

    - allow: true # A student can leave any group
      role: student
      resource: group
      actions:
        - removeStudent
      conditions:
        - group.isMember
        - student.isSameUser

    - allow: true
      role: student
      resource: group
      actions: viewStats
      conditions: group.areStatsPublic

    - allow: true
      resource: group
      actions:
          - addStudent
          - removeStudent
          - viewExercises
          - viewStats
      conditions: group.isSupervisor

    - allow: true
      role: student
      resource: group
      actions:
        - viewStudentStats
      conditions:
        - group.isMember
        - student.isSameUser

    - allow: true
      resource: group
      actions:
          - update
          - remove
          - addSubgroup
          - addSupervisor
          - removeSupervisor
      conditions: group.isAdmin

    ########################
    # Instance permissions #
    ########################

    - allow: true
      role: unauthenticated
      resource: instance
      actions:
        - viewAll
        - viewDetail

    - allow: true
      role: supervisor
      resource: instance
      actions: addGroup
      conditions: instance.isMember

    - allow: true
      role: student
      resource: instance
      actions:
          - viewGroups

    - allow: true
      role: supervisor
      resource: instance
      actions: []

    - allow: true
      role: superadmin # TODO instance admin role
      resource: instance
      actions:
          - viewUsers
          - viewLicences
      conditions:
          - instance.isMember

     ####################
     # User permissions #
     ####################
    - allow: true
      role: student
      resource: user
      actions:
        - viewPublicData
      conditions:
        - user.isInSameInstance

    - allow: true
      role: student
      resource: user
      actions:
          - updateProfile
          - viewExercises
          - viewInstances
          - viewGroups
          - viewDetail
      conditions: user.isSameUser

    ##########################
    # Assignment permissions #
    ##########################

    - allow: true
      role: student
      resource: assignment
      actions:
          - viewDetail
          - submit
      conditions:
          - assignment.isAssignee
          - assignment.isPublic

    - allow: true
      resource: assignment
      actions:
          - viewDetail
          - update
          - remove
          - submit
          - viewSubmissions
          - resubmitSubmissions
      conditions:
          - assignment.isSupervisor

    - allow: true
      resource: group
      actions:
          - assignExercise
      conditions:
          - exercise.isAuthor
          - group.isSupervisor

    - allow: true
      resource: group
      actions:
          - assignExercise
      conditions:
          - exercise.isGroupSupervisor

    - allow: true
      resource: group
      actions:
          - assignExercise
      conditions:
          - exercise.isPublic
          - group.isSupervisor

    - allow: true
      role: student
      resource: assignment
      actions:
          - viewSubmissions
      conditions:
          - student.isSameUser

    #########################
    # Submission permissions #
    ##########################

    - allow: true
      role: student
      resource: submission
      actions:
          - viewDetail
          - viewEvaluation
      conditions:
          - submission.isPublic
          - submission.isAuthor

    - allow: true
      role: student
      resource: submission
      actions:
          - viewEvaluationDetails
      conditions:
          - submission.areEvaluationDetailsPublic
          - submission.isAuthor
          - submission.isPublic

    - allow: true
      resource: submission
      actions:
          - viewDetail
          - viewEvaluation
          - viewEvaluationDetails
          - setBonusPoints
          - setAccepted
          - downloadResultArchive
      conditions:
          - submission.isSupervisor

    #######################
    # Comment permissions #
    #######################

    - allow: true
      role: student
      resource: comment
      actions:
          - alter
      conditions:
          - comment.isAuthor

    - allow: true # TODO
      role: student
      resource: comment
      actions:
          - createThread
          - viewThread
          - addComment

    ########################
    # Exercise permissions #
    ########################

    - allow: true
      resource: exercise
      actions:
          - viewDetail
          - viewLimits
          - setLimits
          - update
          - remove
          - fork
          - addReferenceSolution
          - evaluateReferenceSolution
      conditions:
          - exercise.isAuthor

    - allow: true
      resource: exercise
      actions:
          - viewDetail
          - viewLimits
          - setLimits
          - fork
          - evaluateReferenceSolution
      conditions:
          - exercise.isGroupSupervisor

    - allow: true
      role: supervisor
      resource: exercise
      actions:
          - viewDetail
          - fork
      conditions:
          - exercise.isPublic

    - allow: true
      role: supervisor
      resource: exercise
      actions:
          - create
          - viewAll

    - allow: true
      role: supervisor
      resource: group
      actions:
          - createExercise
      conditions:
          - group.isSupervisor

    #############################
    # Uploaded file permissions #
    #############################

    - allow: true
      role: student
      resource: uploadedFile
      actions:
          - upload

    - allow: true
      resource: uploadedFile
      actions:
          - download
          - viewDetail
      conditions:
          - file.isSolutionInSupervisedGroup

    - allow: true
      resource: uploadedFile
      actions:
          - download
          - viewDetail
      conditions:
          - file.isPublic

    - allow: true
      resource: uploadedFile
      actions:
          - download
          - viewDetail
      conditions:
          - file.isOwner

    - allow: true
      resource: uploadedFile
      actions:
          - download
          - viewDetail
      conditions:
          - file.isRelatedToAssignment

    - allow: true
      role: supervisor
      resource: uploadedFile
      actions:
          - download
          - viewDetail
      conditions:
          - file.isAdditionalExerciseFile
          - file.isExercisePublic

    #####################################
    # Runtime environments permisssions #
    #####################################

    - allow: true
      role: student
      resource: runtimeEnvironment
      actions:
          - viewAll

    ##############################
    # Hardware group permissions #
    ##############################

    - allow: true
      role: supervisor
      resource: hardwareGroup
      actions:
          - viewAll

    #########################
    # Pipelines permissions #
    #########################

    - allow: true
      role: supervisor
      resource: pipeline
      actions:
          - viewAll
          - create

    - allow: true
      role: supervisor
      resource: pipeline
      actions:
          - viewDetail
          - update
          - remove
      conditions:
          - pipeline.isAuthor

      ###################
      # Sis permissions #
      ###################

      - allow: true
        role: supervisor
        resource: sis
        actions:
          - createTerm

      - allow: true
        role: supervisor
        resource: sis
        actions:
          - createGroup
        conditions:
          - course.isSupervisor

      - allow: true
        resource: sis
        actions:
          - viewCourses
        conditions:
          - sisId.isLinkedToUser

      - allow: true
        resource: sis
        actions:
          - bindGroup
        conditions:
          - group.isSupervisor
          - course.isSupervisor
