roles:
    - name: parent
    - name: child
      parents: parent

permissions:
    - allow: true
      role: child
      resource: groups
      actions: action1
      conditions: condition1

    - allow: true
      role: parent
      resource: users
      actions: action2
      conditions:
          - groups.condition1
          - condition2
