<h3>New comment at assignment '{$assignment}' submitted by '{$solutionAuthor}'</h3>
<p>
    New comment was added under the solution of assignment '{$assignment}'
    submitted by '{$solutionAuthor}'. Comment was added by '{$author}' on
    {$date|localizedDate:'en'} with following text:
    <br>
    <code>{$comment}</code>
    <br>
    Comment can be found on: <a href="{$link}">{$link}</a>.
</p>
