{emailSubject}Assignment Comment - {$assignment}{/emailSubject}
<h3>New comment in the public discussion about '{$assignment}' assignment</h3>
<p><code>{$comment}</code></p>
<p>
    A comment was added by '{$author}' on {$date|localizedDate:'en'}
    to the assignment '{$assignment}' in group '{$group}'.
    The comment can be found on the assignment details page: <a href="{$link}">{$link}</a>.
</p>
