{emailSubject}Assignment Solution Comment - {$assignment}{/emailSubject}
<h3>New solution comment of '{$assignment}'</h3>
<p><code>{$comment}</code></p>
<p>
    A comment was added by '{$author}' on {$date|localizedDate:'en'}
    to the solution of assignment '{$assignment}' submitted by '{$solutionAuthor}'.
    The comment can be found on the solution details page: <a href="{$link}">{$link}</a>.
</p>
