{emailSubject}Nový komentář k řešení úlohy - {$assignment}{/emailSubject}
<h3>Nový komentář k řešení úlohy '{$assignment}'</h3>
<p><code>{$comment}</code></p>
<p>
    Komentář byl přidán uživatelem '{$author}' {$date|localizedDate:'cs'}
    ke studentskému řešení úlohy '{$assignment}', která
    byla odevzdaná uživatelem '{$solutionAuthor}'.
    Komentář je možné najít na stránce detailu odevzdaného řešení: <a href="{$link}">{$link}</a>.
</p>
