<h3>New solution comment of '{$assignment}'</h3>
<p><code>{$comment}</code></p>
<p>
    Comment was added by '{$author}' on {$date|localizedDate:'en'}
    to solution of assignment '{$assignment}' submitted by '{$solutionAuthor}'.
    Comment can be found on the page showing the detail of the solution: <a href="{$link}">{$link}</a>.
</p>
