{emailSubject}Nový komentář k zadané úloze - {$assignment}{/emailSubject}
<h3>Nový komentář ve veřejné diskusi k zadané úloze '{$assignment}'</h3>
<p><code>{$comment}</code></p>
<p>
    Komentář byl přidán uživatelem '{$author}' {$date|localizedDate:'cs'}
    k zadané úloze '{$assignment}' ve skupině '{$group}'.
    Komentář je možné najít na stránce zadané úlohy: <a href="{$link}">{$link}</a>.
</p>
