<h3>Nový komentář u úlohy '{$assignment}' odevzdané uživatelem '{$solutionAuthor}'</h3>
<p>
    Nový komentář byl přidán u studentského řešení úlohy '{$assignment}', která
    byla odevzdaná uživatelem '{$solutionAuthor}'.
    Komentář byl přidán uživatelem '{$author}' {$date|localizedDate:'cs'} s
    následujícím textem:
    <br>
    <code>{$comment}</code>
    <br>
    Komentář je možné najít na adrese: <a href="{$link}">{$link}</a>.
</p>
