<h3>Nový komentář u úlohy '{$exercise}' odevzdané uživatelem '{$solutionAuthor}'</h3>
<p>
    Nový komentář byl přidán u referenčního řešení úlohy '{$exercise}', která
    byla odevzdaná uživatelem '{$solutionAuthor}'.
    Komentář byl přidán uživatelem '{$author}' {$date|localizedDate:'cs'} s
    následujícím textem:
    <br>
    <code>{$comment}</code>
    <br>
    Komentář je možné najít na adrese: <a href="{$link}">{$link}</a>.
</p>
