{emailSubject}Nový komentář k referenčnímu řešení - {$exercise}{/emailSubject}
<h3>Nový komentář k referenčnímu řešení úlohy '{$exercise}'</h3>
<p><code>{$comment}</code></p>
<p>
    Komentář byl přidán uživatelem '{$author}' {$date|localizedDate:'cs'}
    k referenčnímu řešení úlohy '{$exercise}', které
    bylo odevzdano uživatelem '{$solutionAuthor}'.
    Komentář je možné najít na stránce detailu referenčního řešení: <a href="{$link}">{$link}</a>.
</p>
