<h3>New reference solution comment of '{$exercise}'</h3>
<p><code>{$comment}</code></p>
<p>
    Comment was added by '{$author}' on {$date|localizedDate:'en'}
    to reference solution of exercise '{$exercise}' submitted by '{$solutionAuthor}'.
    Comment can be found on the page showing the detail of the reference solution: <a href="{$link}">{$link}</a>.
</p>
