{emailSubject}Review comment added{/emailSubject}

<h3>A new {$comment->isIssue() ? 'issue' : 'comment'} was added to a solution review!</h3>

<p>
    <strong>A new {$comment->isIssue() ? 'issue' : 'comment'} was added</strong> to the review of solution
    <strong>#{$attempt}</strong> (submitted at <strong>{$submitted|localizedDate:'en'}</strong>)
    of the assignment <strong>{$assignment}</strong> in the group <strong>{$group}</strong>
    that was closed by the teacher at <strong>{$closed|localizedDate:'en'}</strong>.
</p>

<div>
    <h5 n:if="$comment->getFile()">... at <code>{$comment->getFile()}:{$comment->getLine()}</code> ...</h5>
    <h5 n:if="!$comment->getFile()">Review summary</h5>
    {$comment->getText()|markdown}
</div>

<p>
    The complete review is available at: <a href="{$codeUrl}">{$codeUrl}</a>
</p>
