{emailSubject}Změna komentáře u revize řešení{/emailSubject}

<h3>{$comment->isIssue() ? 'Připomínka k vyřešení byla změněna' : 'Komentář u revize řešení byl změměn'}!</h3>

<p>
    U revize vašeho řešení <strong>#{$attempt}</strong> (odevzdaného <strong>{$submitted|localizedDate:'cs'}</strong>)
    úlohy <strong>{$assignment}</strong> ze skupiny <strong>{$group}</strong>,
    kterou vyučující dokončil <strong>{$closed|localizedDate:'cs'}</strong>,
    <strong>{$comment->isIssue() ? 'byla upravena připomínka k vyřešení' : 'byl upraven komentář'}</strong>.
</p>

<h5>Aktualizováno u <code>{$comment->getFile()}:{$comment->getLine()}</code></h5>

{if $oldText !== $comment->getText()}
<h6>Předchozí verze</h6>
{$oldText|markdown}

<h6>Nová verze:</h6>
{/if}

{$comment->getText()|markdown}

<p n:if="$issueChanged">
    Typ komentáře byl změměn z
    <strong>{$comment->isIssue() ? 'běžného komentáře' : 'připomínky k vyřešení'}</strong>
    na
    <strong>{$comment->isIssue() ? 'připomínku k vyřešení' : 'běžný komentář'}</strong>.
</p>

<p>
    Kompletní revizi kódu naleznete zde: <a href="{$codeUrl}">{$codeUrl}</a>
</p>
