{emailSubject}Revize řešení znovu otevřena{/emailSubject}

<h3>Revize řešení byla znovu otevřena!</h3>

<p>
    Revize vašeho řešení <strong>#{$attempt}</strong> (odevzdaného <strong>{$submitted|localizedDate:'cs'}</strong>)
    úlohy <strong>{$assignment}</strong> ze skupiny <strong>{$group}</strong>,
    kterou vyučující dokončil <strong>{$closed|localizedDate:'cs'}</strong> byla <strong>znovu otevřena</strong> k úpravám.
    To znamená, že je pravděpodobné očekávat větší změny v komentářích a přípomínkách k vyřešení.
</p>

<p>
    Detail vašeho řešení je přístupný přes následující odkaz: <a href="{$detailUrl}">{$detailUrl}</a>
</p>
