<h3>Uživatel {$username} zazádal o obnovu hesla</h3>
<p>
    Své heslo můžete změnit na následující stránce: <a href="{$link}">{$link}</a>.
    Tento odkaz Vám umožní změnit si heslo do {$expiresAfter}. Po této lhůtě bude odkaz nevalidní a budete si muset vyžádat nový.
</p>
<hr>
<p>
    Pokud jste nezažádali o změnu hesla v ReCodExu, ignorujte prosím tento email.
</p>
