{emailSubject}Oznámení k úloze - {$exercise}{/emailSubject}
<h3>Oznámení k úloze - {$exercise}</h3>

{if $message}
<p>
    Uživatel {$user} (<a href="mailto:{$email}">{$email}</a>) nechal zaslat všem vyučujícím, kteří ve svých skupinách zadali úlohu '{$exercise}' následující oznámení:
</p>
<p><strong>{$message}</strong></p>
{else}
<p>
    Uživatel {$user} (<a href="mailto:{$email}">{$email}</a>) nechal zaslat všem vyučujícím, kteří ve svých skupinách zadali úlohu '{$exercise}', oznámení o změně.
    Oznámení neobsahuje žádné další upřesnění.
</p>
{/if}

<p>
    Detail ůlohy má adresu <a href="{$link}">{$link}</a>.
</p>
