{emailSubject}Nové odevzdání již revidované úlohy - {$assignment}{/emailSubject}
<h3>Nové odevzdání již revidované úlohy - {$assignment}</h3>
<p>
  Uživatel {$user} odevzdal nové řešení zadané úlohy '{$assignment}', které bylo ohodnoceno jako {$score}% správně.
  V této úloze již existuje jiné řešení studenta označené jako <strong>revidované</strong>
   a zároveň žádné řešení není <strong>akceptované</strong>.
  Mohlo by to znamenat, že uživatel odevzdává vylepšené řešení, které by mohlo stát za vaši pozornost.
</p>
<p>
  Odevzdané řešení naleznete zde: <a href="{$link}">{$link}</a>.
</p>
