{emailSubject}Nové odevzdání již akceptované úlohy - {$assignment}{/emailSubject}
<h3>Nové odevzdání již akceptované úlohy - {$assignment}</h3>
<p>
  Uživatel <strong>{$user}</strong> odevzdal nové řešení zadané úlohy <strong>'{$assignment}'</strong>,
  které bylo ohodnoceno jako <strong>{$score}%</strong> správně.
  V této úloze již existuje jiné řešení studenta označené jako <strong>akceptované</strong>,
  což znamená, že toto řešení neovlivní celkové hodnocení úlohy pokud nedojde ke změně výběru akceptovaného řešení.
  Také by to mohlo znamenat, že uživatel odevzdává vylepšené řešení, které by mohlo stát za vaši pozornost.
</p>
<p>
  Odevzdané řešení naleznete zde: <a href="{$link}">{$link}</a>.
</p>
