<h3>Termín odevzdání úlohy '{$assignment}' se nezadržitelně blíží</h3>
<p>
    Zadaná úloha '{$assignment}' ve skupině '{$group}' má první termín odevzdání
    nastaven na {$firstDeadline|localizedDate:'cs'}{if $allowSecondDeadline} a druhý termín na
    {$secondDeadline|localizedDate:'cs'}{/if}.
    Úlohu je možné najít na adrese: <a href="{$link}">{$link}</a>.
    Tento email je pouze upozornění, že se jeden z termínů blíží a zatím Vámi
    nebylo odevzdáno žádné řešení.
</p>
