{emailSubject}New shadow assignment - {$assignment}{/emailSubject}
<h3>New shadow assignment '{$name}' created</h3>
<p>
    New shadow assignment '{$name}' has been created in your group '{$group}'.
    {if $maxPoints}You can acquire a maximum of {$maxPoints} points.{/if}
    Shadow assignments are designed only to register points for external activites outside ReCodEx.
    The assignment can be found here: <a href="{$link}">{$link}</a>.
</p>
