<h3>Byla zadána nová stínová úloha '{$name}'</h3>
<p>
    Ve Vaší skupině '{$group}' byla zadána nová stínová úloha '{$name}'{if $maxPoints}, ze
    které můžete získat maximálně {$maxPoints} bodů{/if}.
    Stínové úlohy slouží pouze k registraci bodů za aktivity, které jsou řešeny mimo ReCodEx.
    Úlohu je možné najít na adrese: <a href="{$link}">{$link}</a>.
</p>
