{emailSubject}Termín odevzdání stínové úlohy se blíží - {$assignment}{/emailSubject}
<h3>Termín odevzdání stínové úlohy '{$assignment}' se nezadržitelně blíží</h3>
<p>
    Stínová úloha '{$assignment}' zadaná ve skupině '{$group}' má termín odevzdání
    nastaven na {$deadline|localizedDate:'cs'}.
    Detail se zadáním úlohy se nachází na následující adrese: <a href="{$link}">{$link}</a>.
</p>
