{emailSubject}Shadow Assignment Deadline Is Around the Corner - {$assignment}{/emailSubject}
<h3>Deadline for the shadow assignment '{$assignment}' is approaching</h3>
<p>
    Your shadow assignment '{$assignment}' in the group '{$group}' has its deadline on
    {$deadline|localizedDate:'en'}.
    The shadow assignment can be found here: <a href="{$link}">{$link}</a>.
</p>
