<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{$subject}</title>
    {if !isset($noCss) || $noCss === FALSE}
    <style>
        {include 'style.css'}
    </style>
    {/if}
</head>
<body>
    <div id="wrapper">
        <table align="center">
            <tr>
                <td class="nopadding">
                    <h1>
                        <img src="{$baseUrl|trim:"/"}/logo.png" alt="{_'ReCodEx'}">
                    </h1>
                    <table width="600" algin="center" border="0" cellspacing="0" cellpadding="0" class="container">
                        <tr>
                            <td class="header" colspan="2">
                                <h2>{$subject}</h2>
                            </td>
                        </tr>
                        
                        <tr>
                            <td class="body" colspan="2">
                                {$message|noescape}
                            </td>
                        </tr>
                        <tr class="container-footer">
                            <td class="signature">
                                <p>
                                    S přáním pěkného dne,<br>Roboti z ReCodExu<br>
                                    <a href="{$url}">{$url}</a>
                                </p>
                            </td>
                            <td class="social-icons">
                                <a href="{$fbPage}" class="social-icon" target=_blank>
                                    <img src="{$baseUrl|trim:"/"}/emails/img/facebook.png" width="32" height="31" alt="{_'Facebook'}">
                                </a>
                                <a href="{$twitterPage}" class="social-icon" target=_blank>
                                    <img src="{$baseUrl|trim:"/"}/emails/img/twitter.png" width="32" height="31" alt="{_'Twitter'}">
                                </a>
                                <a href="{$blog}" class="social-icon" target=_blank>
                                    <img src="{$baseUrl|trim:"/"}/emails/img/blog.png" width="32" height="31" alt="{_'Blog'}">
                                </a>
                            </td>
                        </tr>
                    </table>
                    <table class="shadow" cellpadding="0" cellspacing="0" align="center">
                        <tr>
                            <td class="nopadding">
                                <img src="{$baseUrl|trim:"/"}/emails/img/shadow.png" alt="" width="600" height="14">
                            </td>
                        </tr>
                    </table>
                    
                    <p class="note">&copy; 2015 {$siteTitle}</p>
                </td>
            </tr>            
        </table>
    </div>
</body>
</html>