<h3>The administrator has resolved the failure of your solution evaluation of '{$title}'</h3>
<p>
    Your submission of '{$title}' has failed the evaluation on {$date|localizedDate:'en'}.
    The administrator has resolved the problem with the following comment:
</p>
<p><code>{$note}</code></p>
