<h3>Selhání Vašeho řešení úlohy '{$title}' bylo vyřešeno</h3>
<p>
    Neúspěšné odevzdání se stalo {$date|localizedDate:'cs'}.
    Administrátor zodpovědný za vyřešení zanechal následující zprávu:
    <br>
    <code>{$note}</code>
</p>
