<h3>Administrátor vyřešil selhání vyhodnocení Vašeho řešení úlohy '{$title}'</h3>
<p>
    Vaše řešení úlohy '{$title}' nebylo {$date|localizedDate:'cs'} správně vyhodnoceno. 
    Administrátor po vyřešení problému zanechal následující komentář:
</p>
<p><code>{$note}</code></p>
