<h3>Termín odevzdání úlohy '{$assignment}' se nezadržitelně blíží</h3>
<p style="word-wrap: break-word; white-space: pre-line; width: 580px;">
    Zadaná úloha '{$assignment}' ve skupině '{$group}' má první termín odevzdání
    nastaven na {$firstDeadline|localizedDate:'cs'} a druhý termín na
    {$secondDeadline|localizedDate:'cs'}.
    Úlohu je možné najít na adrese: <a href="{$link}">{$link}</a>.
    Tento email je pouze upozornění, že se jeden z termínů blíží a zatím Vámi
    nebylo odevzdáno žádné řešení.
</p>
