<h3>Deadline for assignment '{$assignment}' is nigh</h3>
<p style="word-wrap: break-word; white-space: pre-line; width: 580px;">
    Your assignment '{$assignment}' in the group '{$group}' has a first deadline on
    {$firstDeadline|date:'j.n.Y H:i'} and a second one on
    {$secondDeadline|date:'j.n.Y H:i'}. This email is just a reminder that these
    dates are nearing and you have not submitted any solution yet.
    Assignment can be found on: <a href="{$link}">{$link}</a>.
</p>
