<h3>Selhání Vašeho řešení úlohy '{$title}' bylo vyřešeno</h3>
<p>
    Neúspěšné odevzdání se stalo {$date|date:'j.n.Y H:i'}.
    Administrátor zodpovědný za vyřešení zanechal následující zprávu:<br>
    {$note}
</p>
