<h3>The failure of your solution for '{$title}' has been resolved</h3>
<p>
    The failure happened on {$date|date:'j.n.Y H:i'}.
    The administrator responsible for this action left the following note:<br>
    {$note}
</p>
