<h3>Byla zadána nová úloha '{$name}'</h3>
<p>
    Cvičící ve Vaší skupině '{$group}' zadali novou úlohu '{$assignment}'.
    Termín odevzdání je {$dueDate|date:'j.n.Y H:i'} a na odezvdání máte
    {$attempts} pokusů. Maximální počet bodů je {$points}.
</p>
