<h3>New shadow assignment '{$name}' was created</h3>
<p>
    The supervisors in your group '{$group}' have assigned a new shadow
    assignment '{$name}'. You can acquire a maximum of {$maxPoints} points.
</p>
