<h3>New assignment '{$name}' was created</h3>
<p>
    The supervisors in your group '{$group}' have assigned a new assignment '{$name}'.
    You can acquire a maximum of {$maxPoints} points.
</p>
<p>
    If you do not want to receive these emails anymore, please update your user
    settings accordingly.
</p>
