<h3>Byla zadána nová stínová úloha '{$name}'</h3>
<p style="word-wrap: break-word; white-space: pre-line; width: 580px;">
    Cvičící ve Vaší skupině '{$group}' zadali novou stínovou úlohu '{$name}', ze
    které můžete získat maximálně {$maxPoints} bodů.
    Úlohu je možné najít na adrese: <a href="{$link}">{$link}</a>.
</p>
