<h3>Your submission of exercise '{$assignment}' was evaluated</h3>
<p>
    Some of the supervisors in your group '{$group}' resubmitted your solution of
    exercise '{$assignment}' on {$date|localizedDate:'en'}.
    Your solution has status {$status} and gathered {$points} points out of
    {$maxPoints}.
    Submission evaluation can be found on: <a href="{$link}">{$link}</a>.
</p>
