<h3>Vaše řešení úlohy '{$assignment}' bylo vyhodnoceno</h3>
<p style="word-wrap: break-word; white-space: pre-line; width: 580px;">
    Jeden ze cvičících ve skupině '{$group}' znovu vyhodnotil Vaše řešení úlohy
    '{$assignment}' ve {$date|localizedDate:'cs'}.
    Vaše řešení má status {$status} a získalo {$points} bodů z {$maxPoints}.
    Řešení je možné najít na adrese: <a href="{$link}">{$link}</a>.
</p>
