<h3>Your submission of exercise '{$assignment}' was evaluated</h3>
<p style="word-wrap: break-word; white-space: pre-line; width: 580px;">
    Some of the supervisors in your group '{$group}' resubmitted your solution of
    exercise '{$assignment}' on {$date|date:'j.n.Y H:i'}.
    Your solution {$status} and gathered {$points} points out of {$maxPoints}.
    Submission evaluation can be found on: <a href="{$link}">{$link}</a>.
</p>
