<h3>Deadline for assignment '{$assignment}' is nearby</h3>
<p>
    If you did not request change of your password for ReCodEx please ignore this email.
</p>
<hr />
<p>
    Your assignment '{$assignment}' in group '{$group}' has first deadline on
    {$firstDeadline|date:'j.n.Y H:i'} and second one on
    {$secondDeadline|date:'j.n.Y H:i'}. This email is only reminder that these
    dates are coming and you did not submit any solution yet.
</p>
<p>
    If you do not want to receive these emails anymore. Please setup your user
    profile accordingly.
</p>
