<h3>Deadline for assignment '{$assignment}' is nearby</h3>
<p>
    Your assignment '{$assignment}' in group '{$group}' has first deadline on
    {$firstDeadline|date:'j.n.Y H:i'} and second one on
    {$secondDeadline|date:'j.n.Y H:i'}. This email is just a reminder that these
    dates are coming and you did not submit any solution yet.
</p>
<p>
    If you do not want to receive these emails anymore, please update your user
    settings accordingly.
</p>
