<h3>New assignment '{$assignment}' was created</h3>
<p>
    Supervisors in your group '{$group}' assigned new exercise '{$assignment}'.
    Due date is {$dueDate|date:'j.n.Y H:i'} and you have {$attempts} attempts.
    You can acquire maximum number {$points} of points.
</p>
<p>
    If you do not want to receive these emails anymore, please update your user
    settings accordingly.
</p>
