<h3>Your submission of exercise '{$assignment}' was evaluated</h3>
<p>
    If you did not request change of your password for ReCodEx please ignore this email.
</p>
<hr />
<p>
    Some of your supervisors in group '{$group}' resubmitted your solution of
    exercise '{$assignment}' on {$date}.
    Your solution {$status} and gathered {$points} points out of {$maxPoints}.
    Full results of this submission can be found in appropriate group.
</p>
<p>
    If you do not want to receive these emails anymore. Please setup your user
    profile accordingly.
</p>
