{emailSubject}Async Jobs Stuck{/emailSubject}
<p>
  Some async jobs may be stalled! Verify the asynchronous worker (the recodex-core) service is running. It is also possible the worker is overwhellmed and does not process jobs fast enough.
</p>

<p>
  Total {count} jobs are indicated as overdue and maximal delay is {maxDelay|relativeDateTime:'en'}.
</p>
