services:
	# Zenify
	- Zenify\DoctrineFixtures\Alice\AliceLoader
	- Zenify\DoctrineFixtures\Alice\Parser\NeonParser

	# Alice
	- App\Helpers\ZenifyFixtures\Alice\CustomNativeLoader

	# Faker
	- class: Faker\Generator
	  factory: Faker\Factory::create
